	<h3>{{viewTitle}}</h3>

	<form>

		<div class="form-group">
			<label>firstName</label>
			<input type="text" class="form-control" name="firstName" placeholder="firstName">
		</div>

		<div class="form-group">
			<label>middleName</label>
			<input type="text" class="form-control" name="middleName" placeholder="middleName">
		</div>

		<div class="form-group">
			<label>lastName</label>
			<input type="text" class="form-control" name="lastName" placeholder="lastName">
		</div>

		<div class="form-group">
			<label>age</label>
			<input type="number" class="form-control" name="age" placeholder="age">
		</div>

		<div class="form-group">
			<label>birthDate</label>
			<input type="date" class="form-control" name="birthDate" placeholder="birthDate">
		</div>

		<div class="form-group">
			<label>email</label>
			<input type="text" class="form-control" name="email" placeholder="Email">
		</div>

		<div class="form-group">
			<label>password</label>
			<input type="text" class="form-control" name="password" placeholder="password">
		</div>

		<div class="form-group">
			<label>educationalBackground</label>
			<input type="text" class="form-control" name="educationalBackground" placeholder="educationalBackground">
		</div>

		<div class="form-group">
			<label>skills</label>
			<input type="text" class="form-control" name="skills" placeholder="skills">
		</div>

		<div class="form-group">
			<label>protofolio</label>
			<input type="text" class="form-control" name="protofolio" placeholder="protofolio">
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
		</div>
	</form>